:root { 
--gray_501:#a7a7a7; 
--gray_500:#919191; 
--gray_800:#4b4b4b; 
--red_200_49:#efa2a249; 
--gray_200:#e8e8e8; 
--black_900_3f:#0000003f; 
--gray_300:#e0e0e0; 
--gray_400_6b:#b6b6b66b; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--red_A701:#de0707; 
--red_200_33:#efa2a233; 
--red_A700:#f10000; 
--white_A700:#ffffff; 
}